[submodule "modules/Trivial"]
	path = modules/Trivial
	url = git@github.com:dbechrd/jai-trivial.git
[submodule "modules/Assertive"]
	path = modules/Assertive
	url = git@github.com:dbechrd/jai-assertive.git
[submodule "modules/IPAddress"]
	path = modules/IPAddress
	url = git@github.com:dbechrd/jai-ip-address.git
[submodule "modules/Netcode"]
	path = modules/Netcode
	url = git@github.com:dbechrd/jai-netcode.git
[submodule "modules/Reliable"]
	path = modules/Reliable
	url = git@github.com:dbechrd/jai-reliable.git
[submodule "modules/Serialize"]
	path = modules/Serialize
	url = git@github.com:dbechrd/jai-serialize.git
[submodule "modules/Yojimbo"]
	path = modules/Yojimbo
	url = git@github.com:dbechrd/jai-yojimbo.git
